body{
    background-color:#F6F6F6;
}

.menu{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#af2626;
    position:fixed;
    top:0;
    width:100%;
}

.menu-item{
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.menu-item a{
    display:block;
    color:white;
    text-align:center;
    padding:5px 20px;
    text-decoration:none;
}

li a:hover {
    background-color: #8d1f1f;
}

.grid-container{
    display:grid;
    padding:20px;
    grid-template-columns: auto auto auto auto;
}

.grid-item{
    padding:10px;
}

.profile{

}