body{
    background-color:#F6F6F6;
    font-family:Arial, Helvetica, sans-serif;
}

h1, h2{
    padding:25px;
    text-align: center;
}

.menu{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#af2626;
    position:fixed;
    top:0;
    width:100%;
}

.menu-item{
    float:left;
    text-transform: uppercase;
}

.menu-item a{
    display:block;
    color:white;
    text-align:center;
    padding:5px 20px;
    text-decoration:none;
}

li a:hover {
    background-color: #8d1f1f;
}

.bio-container{
    text-align:center;
    background-color: #a52a2a;
    color:white;
}

.profile-image{
    border:2px solid black;
}

.bio-text, .skills-text{
    padding:5px;
}



/*
.bio-item{
    display:grid;
    padding:10px;
    justify-content:center;
    align-content: center;
    grid-auto-flow: column;
}
*/
.contacts-grid-container{
    display:grid;
    padding:5px;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}

.contacts-grid-item{
    padding:10px;
}
.skills-container{
    background-color: #a52a2a;
    color:white;
    text-align: center;
}

.skills-container ul{
    list-style-type: none;
}

.projects-grid-container{
    display:grid;
    padding:20px;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}

.projects-grid-item{
    padding:2px;
    margin: 20px;
    text-align:center;
    background-color:#faebd7;
    border: 2px solid black;
    border-radius:25px;
}

.projects-grid-container a{
    color: black;
    text-decoration:none;
}

.footer-container{
    background-color: #2F4F4F;
    color: white;
}

.footer-container a{
    color: white;
    text-decoration:none;
}
